
.boxForm{

    padding: 15px;
    backdrop-filter: blur(2px);
    border: 1px solid white;
    box-shadow: 0px 0px 20px white ,  0px 0px 40px white;
    border-radius: 10px;
    
    color:white;
    width: 100%;
    background-color:#1c57a5;
  
    text-align: center;
    
}


.boxForm form{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
    

}


.boxForm h2 {

    width: 100%;
    padding: 15px 0px 30px 0px;
   
}

.boxForm form div{

    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
   
} 



.boxFilho form div label{

    font-weight: 600;
}


.boxForm form div button{

    padding: 9px;
    border: 1px solid white;
    position: relative;
    top: 15px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px white;
}

.boxForm form div button:hover{

    transition: all 500ms linear;
    background-color: white;
    color: var(--azul);

}





.boxForm form input{

    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: gray;
    border-radius: 8px;
    
}

.boxForm form div select{

    width: 100%;
    padding: 9px 5px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: gray;
    border-radius: 8px;

}





@media screen and (max-width:1178px) {


    .boxForm{

        max-width: 800px;
        margin: 0px  auto;
    }

    

    .boxForm form{

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .boxForm form  div{

        width: 100%;

        & button{

            width: 300px;
        }
    }

    
}



@media screen and (max-width:500px) {

 .boxForm form div button {

        width: 100%;
    }

}
    