.boxPai{

    
    background-color: var(--verde);
    text-align: center;
    min-height: 800px;
 

}


.boxPai h1{

    padding: 60px 10px;
    font-size: 4rem;
    color: white;
  
}

.boxPai h2{

    padding: 40px 10px;
    color: white;
    padding: 20px 10px;
}
  

    
   


.boxFilho{

  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 60px 10px;
  gap: 5px;
  width: 100%;
 
}
  
 



.image{

    max-width:12%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.boxPai > p {

    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 40px 10px;
    color: white;
    max-width: 1500px;
    margin: 0px auto;
   letter-spacing: 2px;

}

.boxPai > p span {

    font-weight: bold;

}


.animaOn{

    transform: translateX(0);
    transition: all 1s linear;
    filter: blur(0);
    opacity: 1;
    visibility: visible;
}

.animaOff{
    
    transform: translateX(-200px);
    filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: none;
   
}


.image:nth-of-type(1){

    transition-delay:800ms ;
}

.image:nth-of-type(2){

   transition-delay: 700ms;
}

.image:nth-of-type(3){

    transition-delay: 600ms;
 }

 .image:nth-of-type(4){

    transition-delay: 500ms;
 }

 .image:nth-of-type(5){

    transition-delay: 400ms;
 }
 .image:nth-of-type(6){

    transition-delay:300ms ;
 }

 .image:nth-of-type(7){

    transition-delay: 200ms;
    
 }




@media screen  and (max-width:1124px){

      

        .boxFilho{

            flex-direction: column;
            
        }

       .boxFilho .image{

            max-width: 100%;
            height: 150px;
            transition-delay: 0s;
        }

}


@media screen and (max-width:500px) {

    .boxPai h2 {

        opacity: 7vw;
    }

    .boxPai > p{

        font-size: 7vw;
        letter-spacing: 0;
        text-align: center;
    }

}


    



    
   

  







