.boxIframe{

    
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
    min-height: 800px;
   
}
   

.boxIframe h1 {

    padding: 60px 10px;
    font-size: 4rem;
    color: white;
    text-align: center;
    color: var(--azul);
}



.boxFilho{

    
    max-width: 1200px;
    margin: 0px auto;
    
    padding: 40px 10px;
    
}

.iframe{

   width:100%;
   border: none;
   border-radius: 20px;
}

