.boxHeader {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 500ms linear;
    height: 100px;
    
    

}

    
 
    




.iconLogo{

    width: 120px;
    height: 120px;
}

.iconHam{

    width: 35px;
    height: 35px;
    color: var(--verde);
    right: 40px;
    position: absolute;
    transform: translateX(50vw);

    transition: all 500ms linear;
    cursor: pointer;
    
}

.boxHeader .navTelaMaior ul {


    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    

}



.boxHeader .navTelaMaior ul li{

    cursor: pointer;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding: 10px;
    transition: all 500ms linear;
    border-radius: 5px;
    
    font-weight: 500;
    
   
}
     
    
    


.boxHeader button {

    border: none;
    padding: 10px;
    background-color: var(--verde);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
   

}




.boxHeader .navTelaMaior ul li:hover{

    background-color: var(--verde);
    transition: background-Color 500ms linear;
    color: white;
    text-decoration: none;
}




@media screen and (max-width:823px) {

        .boxHeader > button{

            display: none;
        }
}

@media screen and (max-width:650px) {

        .boxHeader{

            justify-content: flex-start;
            gap: 40px;
        }

        .navTelaMaior{

            display: none;
        }

        .iconHam{

            transform: translateX(0);
            transition: all 500ms linear;
        }

}





