.boxHeader {

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 500ms linear;
    height: 100px;
    z-index: 3;
    border-radius: 0px 0px 5px 5px;
    
    
}
    
    
    
    
.iconLogo{

    width: 140px;
    height: 50px;
    object-fit: contain;
    padding: 0px 10px;
}

.iconHam{

    width: 35px;
    height: 35px;
    color: var(--azul);
    right: 40px;
    position: absolute;
    transform: translateX(50vw);
    transition: all 500ms linear;
    cursor: pointer;

}
   





.boxHeader .navTelaMaior ul {


    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    color: white;
    
}
   
    
   
    




.boxHeader .navTelaMaior ul li{

    cursor: pointer;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 10px;
    
    padding: 8px;
    transition: all 500ms linear;
    border-radius: 5px;
    font-weight: normal;

    
    
}
    
    
   
     
    
    


.boxHeader .btnNavMaior {

    border: none;
    padding: 10px;
    background-color: var(--azul);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}



.boxHeader .navTelaMaior ul li:hover{

    background-color: var(--azul);
    transition: background-Color 500ms linear;
    color: white;
    text-decoration: none;
}


.link{

    color: white;
}




@media screen and (max-width:1244px) {



    .boxHeader .btnNavMaior {

        position: absolute;
        right: 10px;
        top: 130px;
        width: 220px;
        height: fit-content;
        padding: 8px;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        box-shadow: 0px 0px 18px white;
        


        animation: btnPulse 1s linear infinite alternate;
    
    }


    @keyframes btnPulse {

        to{
           
            transform: translateY(10px);
            transition: all 1s linear;
        }
    }


    .imgWpp{

        width: 25px;
        height: fit-content;
    }

}

@media screen and (max-width:960px) {

        .boxHeader{

            justify-content: flex-start;
            
        }

        .boxHeader > .btnNavMaior{

            display: none;
        }

        .navTelaMaior{

            display: none;
        }

        .iconHam{

            transform: translateX(0);
            transition: all 500ms linear;
        }


        .boxHeader > .linkBtn {

            display: none;
        }



}





