.boxPai{


    min-height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: url(../../../public/__bora.jpg);
    background-position: center;
    background-size: cover;
    

}

.boxLeft{

   background-color: #7bc59aa1;
    width: 50%;
    
    
}
    
 



.boxRight{

    width: 50%;
    

}


.image{

   
    clip-path: circle();
    object-fit: cover;
    object-position: center;
    position: absolute;
    
}




 .boxLeft > .image:nth-of-type(2){

    /* estadio */
    width: 380px;
    height: 380px;
    left: 25%;
    top: 40px;
    
}


.boxLeft >  .image:nth-of-type(1){

    /* toca */

   width: 550px;
   height: 550px;
   position: absolute;
   top: 25%;
   left: 30%;
   z-index: 1;
}


.boxLeft > .image:nth-of-type(3){

    /* muro */
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 40px;
    left: 20%;
    z-index: 2;
    

 }


.boxRight{

    position: relative;
    
    
}

 .boxRight  > .image{

        /* bahia */

        width: 450px;
        height: 450px;
        position: absolute;
        left: 20%;
        top: 80px;
 }

 .boxTx{

    position: absolute;
    width: 550px;
    bottom: 12%;
    left: 100px;
    z-index: 2;

 }

 .boxTx h1 {

    font-size: 3rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.733);
    width: 700px;
    text-align: left;
    color: rgba(0, 0, 0, 0.733);
 }

 .boxTx p {

    text-align: justify;
    line-height: 32px;
    font-size: 1.2rem;
    padding: 10px 0px;
    color: var();

}

   





 .boxTx p span{


    
    color: white;
   
    text-underline-offset: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: underline 1px solid white;
    text-underline-offset: 5px;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    transition:  all 500ms linear;
   
   
}
    

   


 


 
.iconMao{

    position: relative;
    
    top: 3px;
    animation: moveIcon 350ms linear infinite alternate;
}





 @keyframes moveIcon{

    to{

        transform: scale(1.2);
        transition: all 200ms linear;

    }

 }




 




    


