.boxContainer{

    width: 100%;
    min-height: 800px;
    overflow: hidden;
    
    background-color:#DDFDFE;

}


.boxImg{


    
    
    
}
   

   
   
.img{

    width: 50%;
    height: 800px;
    z-index: 0;
    position: absolute;
    object-fit: cover;
    object-position: center;
  
   
  
}
  
   
    
    



.boxThumb{

    position: absolute;
    bottom: 10px;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 1;
  

}


.thumb{

    width: 100px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.imgThumb{

    width: 100%;
    height: 100%;
    object-fit: cover;

}


.boxButton{

    position: absolute;
    bottom: 40px;
    left: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 2;

}

.boxButton button {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px 5px;
    border: none;
    cursor: pointer;

}


.animaOn{



}

