

.boxImagemFundo{

    background-image: url(../../../public/papel-de-parede-whatsapp-branco-e-azul.jpg.jpg);
    
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -330px;
    bottom: 80px;
    overflow: hidden;
    cursor: auto;
    transition: all 300ms linear;
   

    

}

.info{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#075E54;
    color: white;
    gap: 15px;
    padding: 10px 5px;
   
}
    


.boxImagem{

    position: relative;
}

.boxNome{

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.onLine{

    width: 12px;
    height: 12px;
    background-color:#4FBE86 ;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    right:-4px;
    bottom: 6px;
}

.boxNome > p:nth-of-type(1){

    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--pop);

   
    
}

.boxNome > p:nth-of-type(2){

    font-size: 0.8rem;
    font-weight: normal;
    font-family: var(--pop);
    
}


.imgLogo{

    width: 60px;
    height: 60px;
    background-color: white;
    clip-path: circle();
    padding:5px;
}

.iconClose{

    width: 40px;
    height: fit-content;
    cursor: pointer;
    flex: none;
}

.iconSend{

    width: 35px;
    height: fit-content;
    color: #919191;
    cursor: pointer;
}


.boxInput{

    background-color:#F0F0F0;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;  
   

}

.boxInput input{

    width:calc(100% - 50px);
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    outline: none;
    font-size: 0.9rem;

}


.boxMsg{

    width: 240px;
    height: 100px;
    background-color:rgb(245, 245, 245);
    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 0px 20px 20px 20px;
    cursor: auto;
    
    

}
    


/* .boxImagem::before{

    content: '';
        position: absolute;
        top: 88px;
        left: -10px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-bottom: 20px solid rgb(245, 245, 245);
        
} */

.boxMsg > p:nth-of-type(1){

    font-weight: bold;
    color: gray;
    padding: 8px 10px;
}

.boxMsg p {

    padding: 3px 10px;
    font-size: 0.8rem;
    font-weight: 400;

}

.check{

    display: flex;
    flex-direction: row;
    align-items: center;
    color: gray;
    float: right;
    padding: 5px 5px;
    
}


.boxAnima{

    width: 100px;
    height: 60px;
    background-color:rgb(245, 245, 245);
    position: absolute;
    top: 35%;
    left: 5%;
    border-radius: 20px 20px 20px 0px;
    cursor: auto;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 3px;

    

}

.boxAnima > .ball{

    width: 8px;
    height: 8px;
    background-color: #4fbe87a9;
    
    border-radius: 50%;
    display: flex;
    animation: moveBall 350ms linear infinite alternate;

    
}


.boxAnima > .ball:nth-of-type(1){

    animation-delay: 200ms;
}

.boxAnima > .ball:nth-of-type(3){

    animation-delay: 500ms;
}

.animaOff{

    width: 0;
    height: 0;
    transition: all 200ms linear;

}

.animaOn{

    width: 380px;
    height: 350px;
    transition: all 200ms linear;

}

@keyframes moveBall {

    to{

        transform: translateY(-3px);
    }

}


@media screen and (max-width:455px) {


        .boxImagemFundo{

            width: 320px;
            
            left: -245px;
        }


        .animaOn{

            width: 320px;
            height: 350px;
            transition: all 200ms linear;
        
        }

        .animaOff{

            width: 0;
            height: 0;
            transition: all 200ms linear;
        
        }

}



@media screen and (max-width:400px) {


    .boxImagemFundo{

        width: 320px;

        left: -245px;
    }


    .animaOn{

        width: 320px;
        height: 350px;
        transition: all 200ms linear;
    
    }

    .animaOff{

        width: 0;
        height: 0;
        transition: all 200ms linear;
    
    }

}


@media screen and (max-width:350px) {


    .boxImagemFundo{

        width: 300px;

        left: -225px;
    }

    .boxImagemFundo .boxNome  p:nth-of-type(1) {

        font-size: 0.9rem;
    }

   .boxImagemFundo .boxNome  p:nth-of-type(2) {

        font-size: 0.7rem;
    }


    .animaOn{

        width: 300px;
        height: 350px;
        transition: all 200ms linear;
    
    }

    .animaOff{

        width: 0;
        height: 0;
        transition: all 200ms linear;
    
    }

}






